<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Describe the page layout you see.</h3>
            <p>This page has a large <mark>bold heading</mark> in its own box. </p>
            <p class="text-success">Underneith the heading, the page is devided into three boxes with no visible borders. 
            The text inside those boxes is responsive and move to fit the size of the page. </p>
        </div>
        <div class="col-sm-4">
            <h3>Describe what happens as you resize the page.</h3>
            <p class="text-danger">When the page is resized, the text moves and responds to the new size constraints.</>
            <p>The navigation bar also changes to allow for the constrained space.</p>
        </div>
        <div class="col-sm-4">
            <h3>Using w3schools Getting Started and Grid Basics sections, discover what 
            the CSS classes on the page are doing and describe their use.</h3>
            <p>It appears that these containers are fixed size, because they use the "container" class
             rathar than the "container-fluid" class.</p>
            <p class="text-muted">The tags "sm" and "4" tell the page how large to display each of the containers
             with respect to the size of the page and other containers. Our tags tell the page to display three equal-sized containers.</p>
            <p>These columns will automatically stack on mobile devices and screens less than 768px wide.</p>
        </div>
    </div>
</div>