@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>@ViewBag.newMessage</p>
<p>Here is some new data!! Isn't it amazing?!</p>

<p>Use this area to provide additional information.</p>
